HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
*.wt
*.2021-08-21T18-13-31Z-00000
*.2021-08-21T18-29-18Z-00000
data/db/journal/WiredTigerLog.0000000002
data/db/journal/WiredTigerPreplog.0000000001
*.0000000002
*.lock
*.bson
data/db/WiredTiger
*.turtle
